[project]
	description = A Java library for the Dropbox Core API.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dj (d1nsh)
[access "refs/for/refs/*"]
	read = group user/Dj (d1nsh)
	push = group user/Dj (d1nsh)
	label-Code-Review = -2..+2 group user/Dj (d1nsh)
	label-Verified = -1..+1 group user/Dj (d1nsh)
	rebase = group user/Dj (d1nsh)
	removeReviewer = group user/Dj (d1nsh)
	submit = group user/Dj (d1nsh)
[access "refs/heads/*"]
	read = group user/Dj (d1nsh)
	create = group user/Dj (d1nsh)
	push = +force group user/Dj (d1nsh)
	pushMerge = group user/Dj (d1nsh)
[access "refs/tags/*"]
	push = +force group user/Dj (d1nsh)
	pushTag = group user/Dj (d1nsh)
	pushSignedTag = group user/Dj (d1nsh)
